@{
    ViewData["Title"] = "Dragon Ball Page";
}

@{
    Layout = "_LayoutDragonBallPage";
}
@model IEnumerable<DragonBallZ.Models.ZFighters>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-9">
            <h1>Dragon Ball PAGE</h1>

        <p>Dragon Ball (Japanese: ドラゴンボール, Hepburn: Doragon Bōru) is a Japanese media franchise created by Akira Toriyama in 1984. The initial manga, written and illustrated by Toriyama, was serialized in Weekly Shōnen Jump from 1984 to 1995, with the 519 individual chapters collected into 42 tankōbon volumes by its publisher Shueisha.</p>
        <p> Dragon Ball was originally inspired by the classical 16th-century Chinese novel Journey to the West, combined with elements of Hong Kong martial arts films. The series follows the adventures of protagonist Son Goku from his childhood through adulthood as he trains in martial arts.</p>
        <p> He spends his childhood far from civilization until he meets a teen girl named Bulma, who encourages him to join her quest in exploring the world in search of the seven orbs known as the Dragon Balls, which summon a wish-granting dragon when gathered. Along his journey, Goku makes several other friends, becomes a family man, discovers his alien heritage, and battles a wide variety of villains, many of whom also seek the Dragon Balls.</p>

            <iframe width="750"  height="400"
                    src="https://www.youtube.com/embed/B7G8FIvVoj4   ">
            </iframe>
           
            <p>The narrative of Dragon Ball predominantly follows the adventures of the Saiyan Son Goku; upon meeting Bulma at the beginning of the series, the two embark on an adventure to gather the seven Dragon Balls, a set of orbs that summon the wish-granting dragon Shenlong.</p> 
            <p>Goku later receives martial arts training from Kame-Sen'nin, meets his lifelong friend Kuririn, and enters the "Strongest Under the Heavens" Martial Arts Tournament to fight the world's strongest warriors. When the Demon King Piccolo, and later his offspring Piccolo, tries to conquer the planet, Goku receives training from Earth's deities to defeat them.</p>
            <img src="https://i.imgur.com/Az141sG.gif" alt="Goku Figth">
        </div>
    </div>

    <br />


</div>
