@{
    ViewData["Title"] = "Dragon Ball Super Page";
}

@{
    Layout = "_LayoutDragonBallSuperPage";
}
@model IEnumerable<DragonBallZ.Models.ZFighters>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-9">
            <h1>Dragon Ball Super PAGE</h1>

            <p>Dragon Ball Super (Japanese: ドラゴンボール超スーパー, Hepburn: Doragon Bōru Sūpā, sometimes abbreviated as DBS) is a Japanese manga series outlined by Akira Toriyama and illustrated by Toyotarou. A midquel to Toriyama's original Dragon Ball manga, it follows the adventures of Goku and friends during the ten-year timeskip after the defeat of Majin Buu.</p>
            <p>It began serialization in Shueisha's monthly shōnen manga magazine V Jump in June 2015. The manga is simulpublished in English by Viz Media and by Shueisha on their Manga Plus platform.</p>
            <p>A 131-episode anime television series produced by Toei Animation aired in Japan from July 2015 to March 2018. A sequel film, Dragon Ball Super: Broly, was released in December 2018 and became the highest-grossing anime film of the franchise. A second film, Super Hero, was released on June 11, 2022.</p>

            <iframe width="750" height="400"
                    src="https://www.youtube.com/embed/F9EyyH36kz8  ">
            </iframe>

            <p>Four years after the defeat of Majin Buu,Goku is seen working as a farmer, and his family and friends live peacefully. However, the God of Destruction Beerus awakens after decades of slumber. Beerus, along with his Angel assistant and teacher, Whis, seeks a warrior known as the Super Saiyan God, threatening to destroy the Earth if he loses to him. Goku transforms into the Super Saiyan God with the help of his friends, battles Beerus and loses, but his efforts appease Beerus, who spares the planet.</p>
            <p>Years Later, both Zenōs hold the Tournament of Power, where teams of fighters from eight of the twelve universes battle, with defeated universes being erased. Goku, his friends, Android 17, and a temporarily revived Frieza join the tournament. They battle formidable warriors, such as Universe Eleven's Jiren. Goku attains a new form known as Ultra Instinct, allowing him to fight unconsciously. The tournament ends with Goku and Frieza eliminating Jiren along with themselves, leaving Android 17 as the winner for Universe 7. He is awarded one wish from the Super Dragon Balls, and restores the erased universes. Frieza is permanently revived.</p>
            <img src="https://pa1.narvii.com/6610/8e3694c766b40602758381ec018698ebccb9b17a_hq.gif" alt="super">
        </div>
    </div>
</div>

  

