@{
    ViewData["Title"] = "Dragon Ball Z Page";
}

@{
    Layout = "_LayoutDragonBallZPage";
}
@model IEnumerable<DragonBallZ.Models.ZFighters>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-9">
            <h1>Dragon Ball Z PAGE</h1>

            <h2>Saiyan Saga</h2>
            <p>Dragon Ball Z picks up five years after the end of the Dragon Ball anime, with Goku now a young adult and father to his son, Gohan.</p>
            <p> A humanoid alien named Raditz arrives on Earth in a spacecraft and tracks down Goku, revealing to him that he is his long-lost older brother and that they are members of a near-extinct alien warrior race called the Saiyans (サイヤ人, Saiya-jin). The Saiyans had sent Goku (originally named Kakarot (カカロット, Kakarotto)) to Earth as an infant to conquer the planet for them, but he suffered a severe blow to the head shortly after his arrival and lost all memory of his mission, as well as his blood-thirsty Saiyan nature.</p>
            <p>Raditz along with two elites, Vegeta and Nappa, are the only remaining Saiyan warriors, so Raditz comes to enlist Goku's help in conquering frontier worlds. When Goku refuses to join them, Raditz takes Goku and Krillin down with one strike, kidnaps Gohan, and threatens to murder him if Goku does not kill 100 humans within the next 24 hours. Goku decides to team up with his arch-enemy Piccolo, who was also defeated by Raditz in an earlier encounter, to defeat him and save his son.</p>
            <p> During the battle, Gohan's rage momentarily makes him stronger than Piccolo and Goku as he attacks Raditz to protect his father. </p>
              <img src="https://media.tenor.com/e-QkiaIM_EkAAAAC/dbz-raditz.gif" alt="GokuRadize">
            <br>
            <br>
              <h2>Goku Vs Vegeta</h2>
              <br/>
              <p>After a year, Goku is revived with the Dragon Balls, but King Kai panics as he realizes that Goku will have to take Snake Way again to get back and will not make it until hours after the Saiyans arrive. Goku's allies group up to fight until Goku gets back, but prove to be no match for Nappa and the "Prince of All Saiyans", Vegeta. Yamcha, Tien Shinhan, Chiaotzu and Piccolo all perish in the battle, with Piccolo's death causing both Kami and the Dragon Balls to fade from existence.</p>
              <p> When Goku finally arrives at the battlefield, he avenges his fallen friends by easily defeating Nappa before crippling him by breaking his spine in half. A furious Vegeta then executes Nappa for his failure to kill Goku.</p>
            <p>Goku uses several grades of the Kaio-ken to win the first clash with Vegeta, which concludes with a climactic ki beam struggle, but it comes at a great cost to his body.</p>
            <p> Vegeta comes back and creates an artificial moon to transform into a Great Ape, which he uses to torture Goku. Krillin and Gohan sense that Goku is in trouble, and they return for a group fight with the now-seemingly unstoppable Vegeta.</p>
            <img src=" https://media.tenor.com/Cc5l0o5SntsAAAAC/goku-vs-vegeta-kaioken.gif" alt="Goku vs Vegeta">
            <br>
            <br>
            <h2>Frieza Saga</h2>

            <p>During the battle, Krillin overhears Vegeta mentioning the original set of Dragon Balls from Piccolo's homeworld, Namek (ナメック星, Namekku-sei). While Goku recovers from his injuries, Gohan, Krillin, and Goku's oldest friend Bulma depart for Namek to use these Dragon Balls to revive their fallen friends in the battle.</p>
            <p>Upon their arrival on Namek, Krillin, Gohan, and Bulma discover that Vegeta and his superior, the galactic tyrant Frieza, are already there, each looking to use the Dragon Balls to obtain immortality. Vegeta is stronger than before, as Saiyans become stronger when they recover from the brink of death, so he seizes the opportunity to rebel against Frieza. A triangular game of cat-and-mouse ensues, with Frieza, Vegeta, and Gohan plus Krillin alternately possessing one or more of the Dragon Balls, with no one managing to possess all seven at any given time.</p>
            <p>Despite both Piccolo and Vegeta's advances in power, they are greatly outclassed by Frieza, who goes through several transformations before reaching his final form, which he then uses to kill Dende.Goku arrives after healing from his injuries, and Vegeta tells him that Frieza was the one who destroyed the Saiyan homeworld and massacred the Saiyan race, as he feared that he would one day be overthrown by a Super Saiyan. Frieza then kills Vegeta in front of Goku.</p>
            <p>Though Goku's power exceeds Vegeta's, he is still no match for Frieza. Goku uses his last resort, a massive Spirit Bomb with the energy of Namek and the surrounding worlds, and it seemingly defeats the tyrant. However, Frieza manages to survive, and he unleashes his wrath upon the group by gravely wounding Piccolo and murdering Krillin. Goku's rage finally erupts, and he undergoes a strange transformation that turns his hair blond, his eyes green, and causes a golden aura to radiate from his body. Goku has finally become a Super Saiyan.</p>
          
            <img src="  https://media.tenor.com/wlulMLeTKT0AAAAd/goku-dragon-ball-z.gif" alt="ssj">
            <br>
            <br>
            <h2>
                Androids Saga
            </h2>
            <p>One year later, Frieza is revealed to have survived and arrives on Earth with his father, King Cold, seeking revenge. However, a mysterious young man named Trunks appears, transforms into a Super Saiyan, and kills Frieza and King Cold. Goku returns a few hours later, having spent the past year on the alien planet Yardrat learning a new technique: Instant Transmission, which allows him to teleport to any location he desires. Trunks reveals privately to Goku that he is the son of Vegeta and Bulma, and has traveled from 17 years in the future to warn Goku that two Androids (人造人間, Jinzōningen, lit. "Artificial Humans") created by Dr. Gero will appear in three years to seek revenge against Goku for destroying the Red Ribbon Army when he was a child. Trunks says all of Goku's friends will fall to them - while Goku himself will die from a heart virus six months before their arrival.</p>
            <p>Trunks gives Goku medicine from the future that will save him from the heart virus and departs back to his own time. When the androids arrive, Goku falls ill during his fight with Android 19 but is saved by Vegeta, who reveals that he has also achieved the Super Saiyan transformation. Vegeta and Piccolo easily defeat Android 19 and Dr. Gero (who turned himself into "Android 20"), but Trunks returns from the future to check on their progress and reveals that the androids they defeated are not the ones that killed all of them in the future.</p>
            <p>Goku is out of commission and his allies are overwhelmed by the arrival of Androids 16, 17 and 18, while an even stronger bio-Android called Cell emerges from a different timeline and embarks on a quest to find and absorb Androids 17 and 18, which will allow him to attain his "perfect form".</p>
            <p>Cell allows everyone to live for the time being and announces his fighting tournament to decide the fate of the Earth, known as the "Cell Games". Goku, recovered from the heart virus and having reached the zenith of the Super Saiyan form, takes on Cell at the tournament. Goku eventually realizes that Cell is far too powerful for him to handle, and forfeits the fight to the astonishment of everyone else. Goku proclaims that Gohan will be able to defeat Cell. Though initially outclassed, Gohan is eventually able to tap into his latent power and achieve the Super Saiyan 2 transformation after Android 16 sacrifices himself in a failed attempt to kill Cell. Refusing to accept defeat, Cell prepares to self-destruct and destroy the Earth.</p>
            <img src="https://24.media.tumblr.com/tumblr_m6ozqlCRYZ1rtpsdro5_500.gif" alt="cell">
         <br>
            <br>
            <h2>
                Majin Buu Saga
            </h2>
            <p>Seven years later, Goku is allowed to go back to Earth for one day to reunite with his loved ones and meet his youngest son, Goten, at the World Martial Arts Tournament (天下一武道会, Tenkaichi Budōkai, "Strongest Under the Heavens Martial Arts Tournament"). Soon after, Goku and his allies are drawn into a fight by the Supreme Kai against a magical being named Majin Buu (魔人ブウ, ”Demon Person Buu”) summoned by the evil wizard Babidi. All efforts of preventing the resurrection prove to be futile as Buu is successfully revived, resulting in Vegeta, who had willingly joined forces with Babidi so he could surpass Goku, committing suicide in a failed attempt to kill Buu</p>
            <iframe width="750" height="400"
                    src="https://www.youtube.com/embed/Wx0QYmHfi6U  ">
            </iframe>
            <p> Goten and Trunks are taught the fusion technique by Goku, while Gohan is trained by the Supreme Kai to unlock his latent potential. Meanwhile, Buu befriends Mr. Satan and vows to never kill anyone ever again, but is interrupted when a deranged gunman shoots and nearly kills Mr. Satan. As a result, Majin Buu becomes so angry that he expels the evil within himself, creating an evil Buu that proceeds to absorb the good Buu</p>
            <p>The result is Super Buu, a psychopathic monster who wants nothing more than the destruction of the universe. After numerous battles that result in the deaths of many of Goku's allies as well as the destruction of Earth, Goku (whose life is fully restored by the Elder Supreme Kai) defeats Kid Buu (the original and most dangerous form of Majin Buu) with a Spirit Bomb attack containing the energy of all the inhabitants of Earth, who were resurrected along with the planet by the Namekian Dragon Balls. Goku makes a wish for Kid Buu to be reincarnated as a good person and, ten years later at another Tenkaichi Budōkai, he meets Kid Buu's human reincarnation, Uub. Leaving the match between them unfinished, Goku departs with Uub so he can train him to become Earth's new defender.</p>
            <img src="https://pa1.narvii.com/6754/6dab2b80f822bdab97361e4c39dfcf0790153cfd_hq.gif" alt="Goku n Buu">
        </div>
    </div>

    <br />


</div>
